<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
      		<pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
		</encoder>
	</appender>

	<logger name="eu.europa.esig.dss" level="INFO" />
	<logger name="org.apache.http" level="WARN"/>
	<logger name="org.apache.pdfbox" level="WARN"/>
	<logger name="org.apache" level="INFO"/>
	<logger name="org.springframework" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>