*.versionsBackup
*.releaseBackup
release.properties
.*
*.iml
target
dss-cookbook/src/test/resources/signature-pool/cache/https___www_agentschaptelecom_nl_binaries_agentschap_telecom_documenten_publicaties_2018_januari_01_digitale_statuslijst_van_vertrouwensdiensten_current_tsl_xml
