# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# These files are binary and should be left untouched (carriage returns windows/linux)
# (binary is a macro for -text -diff)
dss-jades/src/test/resources/ObjectIdByURI-1.html         binary
dss-jades/src/test/resources/ObjectIdByURI-2.html         binary
dss-jades/src/test/resources/ObjectIdByURIHash-1.html         binary
dss-jades/src/test/resources/ObjectIdByURIHash-2.html         binary
dss-pades/src/test/resources/visualSignature/annots-no-rotate.pdf         binary
dss-tsl-validation/src/test/resources/tl-ecdsa-brainpool.xml         binary
dss-utils/src/test/resources/sample-cr-lf.xml         binary
dss-utils/src/test/resources/sample-lf.xml         binary
dss-xades/src/test/resources/validation/dss1334/simple-test.xml         binary
dss-xades/src/test/resources/validation/xades-ecc-brainpool.xml         binary
dss-xades/src/test/resources/sample.xml         binary