<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:spring/applicationContext-dao.xml"/>

	<context:annotation-config/>
	<context:component-scan base-package="eu.europa.esig.dss"/>

	<bean id="proxyPreferenceManager" class="eu.europa.esig.dss.client.http.proxy.ProxyPreferenceManager">
		<property name="proxyDao" ref="proxyDao"/>
		<!--<property name="proxyDao" ref="proxyFile"/>-->
	</bean>

	<bean id="dataLoader" class="eu.europa.esig.dss.client.http.commons.CommonsDataLoader">
		<property name="proxyPreferenceManager" ref="proxyPreferenceManager"/>
	</bean>

	<bean id="ocspDataLoader" class="eu.europa.esig.dss.client.http.commons.OCSPDataLoader">
		<property name="proxyPreferenceManager" ref="proxyPreferenceManager"/>
	</bean>

	<bean id="fileCacheDataLoader" class="eu.europa.esig.dss.client.http.commons.FileCacheDataLoader">
		<property name="proxyPreferenceManager" ref="proxyPreferenceManager"/>
		<!-- Per default uses "java.io.tmpdir" property -->
		<!--<property name="fileCacheDirectory" value="/temp"/>-->
	</bean>

	<bean id="cacheCrlSource" class="eu.europa.esig.dss.client.crl.OnlineCRLSource">
		<property name="dataLoader" ref="dataLoader"/>
	</bean>

	<bean id="crlSource" class="eu.europa.esig.dss.client.crl.JdbcCacheCRLSource">
		<property name="cachedSource" ref="cacheCrlSource"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="ocspSource" class="eu.europa.esig.dss.client.ocsp.OnlineOCSPSource">
		<property name="dataLoader" ref="ocspDataLoader"/>
	</bean>

	<bean id="trustedListSource" class="eu.europa.esig.dss.tsl.ReloadableTrustedListCertificateSource">
		<property name="dataLoader" ref="fileCacheDataLoader"/>
		<property name="checkSignature" value="false"/>
		<property name="lotlCertificate" value="classpath://ec.europa.eu.crt"/>
		<property name="lotlUrl" value="https://ec.europa.eu/information_society/policy/esignature/trusted-list/tl-mp.xml"/>
		<property name="tslRefreshPolicy" value="WHEN_NECESSARY_OR_INDETERMINATE"/>
	</bean>

	<bean id="tspSource" class="eu.europa.esig.dss.client.tsp.OnlineTSPSource">
		<property name="tspServer" value="http://tsa.belgium.be/connect"/>
		<property name="dataLoader" ref="dataLoader"/>
	</bean>

	    <bean id="cadesService" class="eu.europa.esig.dss.cades.signature.CAdESService">
        <constructor-arg ref="certificateVerifier"/>
        <property name="tspSource" ref="tspSource"/>
    </bean>

    <bean id="xadesService" class="eu.europa.esig.dss.xades.signature.XAdESService">
        <constructor-arg ref="certificateVerifier"/>
        <property name="tspSource" ref="tspSource"/>
    </bean>

    <bean id="padesService" class="eu.europa.esig.dss.pades.signature.PAdESService">
        <constructor-arg ref="certificateVerifier"/>
        <property name="tspSource" ref="tspSource"/>
    </bean>

    <bean id="asicService" class="eu.europa.esig.dss.asic.signature.ASiCService">
        <constructor-arg ref="certificateVerifier"/>
        <property name="tspSource" ref="tspSource"/>
    </bean>
    
    <bean id="certificateVerifier" class="eu.europa.esig.dss.validation.CommonCertificateVerifier">
        <property name="trustedCertSource" ref="trustedListSource"/>
        <property name="ocspSource" ref="ocspSource"/>
        <property name="crlSource" ref="crlSource"/>
        <property name="dataLoader" ref="dataLoader"/>
    </bean>

</beans>