<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:spring/applicationContext-datasource.xml"/>

	<context:annotation-config/>
	<context:component-scan base-package="eu.europa.esig.dss"/>

	<bean id="proxyDao" class="eu.europa.esig.dss.client.http.proxy.ProxyJdbcDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!--Property file implementation of proxy preferences-->
	<!-- Uncomment if you want to use the proxy properties file (comment proxy DAO)-->
	<!--<bean id="proxyFile" class="eu.europa.esig.dss.web.dao.ProxyFileDao">-->
	<!--<constructor-arg value="/proxy.properties"/>-->
	<!--</bean>-->

	<bean id="preferencesDao" class="eu.europa.esig.dss.web.dao.PreferencesJdbcDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>

</beans>