<configuration debug="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="eu.europa.esig.dss" level="INFO" />
	<logger name="org.apache" level="INFO" />
	<logger name="org.apache.fop" level="ERROR" />
	<logger name="org.apache.pdfbox" level="ERROR" />
	<logger name="org.springframework" level="INFO" />

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>