.hbox-style {
    -fx-spacing: 10;
	-fx-alignment : center-left;
	-fx-min-height : 30;
	-fx-pref-height : 30;
}

.label-style {
	-fx-pref-width : 180;
	-fx-min-width : 180;
}

.warningLabel {
	-fx-text-fill: #FF8000;
}