header{
	background:url(../images/blue-header-bg.png) left top repeat-x ;
}

.white-header {
	background: url(../images/blue-header-bg-mini.png) left bottom repeat-x ;
}
.deco{
	position:absolute;
	top:0;
	right:0;
	height: 68px;
	width: 300px;
	background:url(../images/powered-bg-2.png) right top repeat-y;
}
body.purple header{
	background:url(../images/purple-header-bg.png) left top repeat-x ;
}
body.orange header{
	background:url(../images/orange-header-bg.png) left top repeat-x ;
}
body.green header{
	background:url(../images/green-header-bg.png) left top repeat-x ;
}

body.purple .white-header {
	background: url(../images/purple-header-bg-mini.png) left bottom repeat-x ;
}
body.orange  .white-header {
	background: url(../images/orange-header-bg-mini.png) left bottom repeat-x ;
}
body.green  .white-header {
	background: url(../images/green-header-bg-mini.png) left bottom repeat-x ;
}