/* ------------- TEMPLATE / STRUCTURE --------------- */
a:focus, input:focus, select:focus, textarea:focus, button:focus{
	outline:1px solid #0F3;	
}
body{
	background:#EEE ;
}

header{
	height:68px;
	position:relative;
	background:url(../images/powered-bg-2.png) right top repeat-y, url(../images/blue-header-bg.png) left top repeat-x ;
	overflow:hidden;
}
header .site-title{
	color: #FFF;
    font: bold 2.8em "Century Gothic","Trebuchet MS",Verdana;
    left: 195px;
    position: absolute;
    top: 11px;
	opacity:0.9;
	filter: alpha(opacity = 90);
}
header .powered{
	position:absolute;
	top:0;
	right:0;
	padding-right:5px;
	height: 68px;
	width: 300px;
	text-align: right;
}
header .powered span{
	position:relative;
	top:47px;
	font-style:italic;
	font-weight:bold;
	color:#FFF;
}


/* ---- White header ----- */
.white-header {
	background-color:#FFF !important;
	background:url(../images/powered-bg-2.png) right top repeat-y, url(../images/blue-header-bg-mini.png) left bottom repeat-x ;
}
.white-header  .site-title, .white-header #header .pre-site-title{
	color: #424242;
}
.white-header  .powered span{
	color:#424242;
	top:42px;
}

/* --- Footer ----*/
footer{
	height:22px;
	background:#424242 url(../images/menu-bg-2.png) left top repeat-x;
	padding:8px 10px 2px 2px;
}
footer p{
	text-align:right;
	color:#FAFAFA;
}

/* ---- Horizontal Menu -----*/
#horizontal-menu{
	min-height:32px;
	background:#424242 url(../images/menu-bg-2.png) left top repeat-x;
	position:relative;
	overflow:hidden;
	box-shadow:0 0 20px #666;
}
#horizontal-menu ul{
	margin-left:10px;
	position:relative;
	top:8px;
}

#horizontal-menu li{
	float:left;
	margin-right:7px;
	list-style:none;
	min-height:20px;
}
#horizontal-menu li a{
	display:block;
	background-color:#008FD4;
	color:#FAFAFA;
	padding:4px 9px;
	text-decoration:none;
	-webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; transition:all 0.2s linear; 
	border-radius: 0 4px 0 0;
}
#horizontal-menu li a:hover, #menu li a:focus{
	background-color:#7fcaee;
	color:#FFF;
}
body #horizontal-menu li.selected a{
	background-color:#ffffff !important;
	color:#222222;
	font-weight:bold;
}

#horizontal-menu li.user{
	float:right;
	background-color:#008FD4;
	padding:3px 8px;
	color:#FAFAFA;
	border-radius: 0 4px 0 0;
}
#horizontal-menu li.user a{
	display:inline;
	padding:0;
	background-color:transparent !important;
	text-decoration:underline;
}

/* --------- CONTENT ------ */
#content{
	min-height:250px;
	background-color:#FFF;
	overflow:hidden;
	padding-top:10px;
	border:1px solid #FFF;
	box-shadow:0 20px 40px #666;
}
#content h1{
	font: bold 2em "Century Gothic","Trebuchet MS",Verdana;
	margin-bottom:16px;
}

.left-column{
	float:left;
	width:200px;
	padding:0 0px 10px 0;
	position:relative;
	z-index:12;
}
.right-column{
	float:right;
	width:200px;
	padding:0 0px 10px 0;
	margin-left:20px;
}

/*---------- LEFT MENU ------*/
#inside-menu ul{
	margin-left:0;
}
#inside-menu li {
	list-style:none;
}
#inside-menu li a{
	display:block;
	color:#444;
	padding:4px 9px;
	text-decoration:none;
	border-left:5px solid #424242;
	border-right:1px solid #444;
	-webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; transition:all 0.3s linear; 
}
#inside-menu li a:hover, #inside-menu li a:focus{
	border-color:#7fcaee;
	background-color:#ade0f8;
}
body #inside-menu li.selected a{
	border-color:#008FD4 !important;
	color:#222222;
	font-weight:bold;
	background-color:#ade0f8;
}

/*---------- LEFT MENU For mobile ------*/
.mobile-menu{
	display:none;
	position:absolute;
	right:0;
	top:0px;
	background:#333 url(../images/powered-bg-2.png) left center no-repeat;
	border:3px solid #008FD4;
	padding-right:10px;
	border-radius: 0 0 0px 10px;
}
.mobile-menu a{
	color:#FAFAFA;
	display:block;
	padding:5px 21px 5px 10px;
	font-weight:bold;
	text-decoration:none;
	font-size:0.9em;
	
}
.mobile-menu a.down{
	background:url(../images/down.png) right center no-repeat;
}
.mobile-menu a.up{
	background:url(../images/up.png) right center no-repeat;
}

.middle-column{
	overflow:hidden;
	padding:0 20px 10px 20px;
	position:relative;
	z-index:10;
}
#content h2{
	font-size:1.4em;
	font-weight:bold;
	color:#008FD4;
	margin:5px 0;
}
#content h3{
	font-size:1.3em;
	font-weight:bold;
	color:#424242;
	margin:5px 0;
}
#content p{
	margin-bottom:15px;
}

/* ---- table ---- */
.noBorder{ border:0 !important;}
.noBg{background:none !important;}
.table-container{
	overflow:auto;
}
table.data-table{
	border-collapse:collapse;
	font:normal 0.85em Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:10px;
	width:100%;
}
table.data-table tr td{
	padding:4px 5px;
	border-bottom:1px solid #7e7e7e;
	border:1px solid #CCC;
	vertical-align:top;
	-webkit-transition:all 0.3s linear;
	background-color:#FFF;
}
table.data-table tbody tr:hover td{
	background-color:#fffcd3;
}
table.data-table thead tr th{
	border:1px solid #CCC;
	padding:4px 5px;
	border-bottom:1px solid #527855 !important;
	text-align:left;
	background:#63acdc url(../images/th-bg-bw.png) left top repeat-x;
	color:#222;
	font-weight:bold;
	vertical-align:bottom;
	text-align:center;
	vertical-align:top;
}
table.data-table tr th a{
	color:#222;
	text-decoration:none;
	display:block;
}
table.data-table tr th a:hover, table tr th a:focus{
	text-decoration:underline;
}
table.data-table tr th a.sortable{
	padding-right:10px;
	background:url(../images/sortable.gif) right center no-repeat;
}
table.data-table tr th a.desc{
	background:url(../images/desc.gif) right center no-repeat;
}
table.data-table tr th a.asc{
	background:url(../images/asc.gif) right center no-repeat;
}
table.data-table tbody tr th{
	padding:5px 5px;
	border-bottom:1px solid #AAA;
	background:#63acdc url(../images/th-bg.png) left bottom repeat-x;
	color:#222;
	width:170px;
	font-weight:bold;
}

table.fixed-data-table{
	table-layout:fixed;
	width:100%;
}
table.fixed-data-table td, table.fixed-data-table th{
	word-wrap:break-word;
}

/* Modern browser 
table tr:nth-child(2n){
	background-color:#e9f2ff;
}*/

/* All browser 
table.data-table tr.odd{
	background-color:#e9f2ff;
}*/


/* ---- portlet ------ */
.portlet{
	display:block;
	position:relative;
	border:1px solid #BBB;
	padding:1px;
	background-color:#FAFAFA;
	margin-bottom:15px;
}
.portlet-header{
	display:block;
	position:relative;
	overflow:hidden;
	padding:3px 10px;
	background:#424242 url(../images/powered-bg-2.png) right center no-repeat;
	box-shadow:0px 2px 1px #000;
}
.portlet-actions{
	float:right;
	position:relative;
	top:2px;
}
#main .portlet-header h2{
	font-weight:bold;
	color:#FFF !important;
	font-size:1em;
	margin:0;
	padding-top:3px;
}
.portlet-content{
	padding:10px;
}



/* ---- Button & form ----- */
form.common-form fieldset{
	overflow:hidden;
}
form.common-form>fieldset>div{
	margin:10px 20px 0 0;
	float:left;
	min-width:185px;
}
form.common-form label, form.common-form .like-label{
	font-weight:bold;
	display:block;
	font-size:0.85em;
}
form.common-form input[type=text], form.common-form input[type=password], form.common-form input[type=email], form.common-form select, form.common-form textarea{
	display:block;
	border-radius:6px;
	height:1.2em;
	border:1px solid #BBB;
	padding:5px;
	box-shadow:1px 1px 2px #DDD inset;
	width:100%;
	
}
form.common-form select{
	height:2.1em;
}
form.common-form textarea{
	height:auto;
}
form.label-on-left label, form.label-on-left .like-label{
	display:block;
	width:100px;
	float:left;
	text-align:right;
	padding-right:10px;
	padding-top:1px;
}
form.label-on-left input[type=text], form.label-on-left input[type=password], form.label-on-left input[type=email], form.label-on-left select, form.label-on-left textarea{
	width:150px;
	display:inline-block;
}
form.common-form input.inline-field, form.common-form select.inline-field, form.common-form .inline-label{
	display:inline;
	width:auto;
	float:none;
	margin-left:0;
}
form.common-form .button-container{
	clear:both;
}
form.label-on-left .button-container{
	padding-left:110px;
}


.button{
	display:inline-block;
	background-color:#008FD4;
	color:#FAFAFA;
	padding:4px 9px;
	border:1px solid #007EC3;
	border-radius:4px;
	font-weight:bold;
	font-size:0.85em;
	-webkit-transition:all 0.25s linear; -moz-transition:all 0.25s linear; transition:all 0.25s linear;
	overflow:visible;
}
.button:hover, .button:focus{
	box-shadow:0 0 5px #333;
}


/* ----  LOGIN BOX ----- */

.loginbox{
	padding:20px;
	border-radius:6px;
	width:430px;
	margin:30px auto;
	background:url(../images/login-bg.png) left center repeat-y ;
	height:240px;
}

#login-form{
	margin:45px 0 0 90px;
}

#login-form label{
	color:#FFF;
}
#login-form .button{
	background-color:#FFF !important;
	color:#008FD4;
	opacity:0.9;
}

/* ------- Common box --------- */
.common-box{
	background-color:#d9effa;
	padding:10px;
	border-radius:6px;
	margin-bottom:10px;
}
.highlight-box{
	background-color:#fae1d9;
	padding:10px;
	border-radius:6px;
	margin-bottom:10px;
}



/* ----- Full row / column ---- */
.full-row{
	display:block;
	position:relative;
}
.full-column{
	min-width:900px;
	max-width:1200px;
	margin:0 auto;
	position:relative;
}

/* ----- The fluid grid ----- */
.fluid-row{
	display:block;
	position:relative;
	overflow:hidden;
	margin:0 auto 16px;
}

.fluid-row .fluid-column{
	float:left;
	display:block;
	margin-left:2%;
	min-height:10px;
}

.fluid-row .fluid-column:first-child{
	margin-left:0;
}


.fluid-c1{width:   6.5%;}
.fluid-c2{width:  15%;}
.fluid-c3{width:  23.5%;}
.fluid-c4{width:  32%;}
.fluid-c5{width:  40.5%;}
.fluid-c6{width:  49%;}
.fluid-c7{width:  57.5%;}
.fluid-c8{width:  66%;}
.fluid-c9{width:  74.5%;}
.fluid-c10{width: 83%;}
.fluid-c11{width: 91.5%;}
.fluid-c12{width:100%;}



/* orange theme */
body.orange header{
	background:url(../images/powered-bg-2.png) right top repeat-y, url(../images/orange-header-bg.png) left top repeat-x ;
}
body.orange .white-header {
	background:url(../images/powered-bg-2.png) right top repeat-y, url(../images/orange-header-bg-mini.png) left bottom repeat-x ;
}
body.orange #horizontal-menu li a, body.orange #horizontal-menu li.user{
	background-color:#f47a2b;
}
body.orange #horizontal-menu li a:hover, body.orange #horizontal-menu li a:focus{
	background-color:#ffbd92;
}
body.orange #inside-menu li a:hover, body.orange #inside-menu li a:focus{
	border-color:#ffbd92;
	background-color:#ffe9da;
}
body.orange  #inside-menu li.selected a{
	border-color:#f47a2b !important;
	background-color:#ffe9da;
}
body.orange .button{
	background-color:#f47a2b;
	border-color:#E3691a;
}
body.orange #content h2{
	color:#f47a2b;
}
body.orange .loginbox{
	background:url(../images/login-bg-orange.png) center center repeat-y ;
}
body.orange .mobile-menu{
	border-color:#f47a2b;
}
body.orange .common-box{
	background-color:#fae1d9;
}
body.orange .highlight-box{
	background-color:#e4fad9;
}


/* green theme */
body.green header{
	background:url(../images/powered-bg-2.png) right top repeat-y, url(../images/green-header-bg.png) left top repeat-x ;
}
body.green .white-header {
	background:url(../images/powered-bg-2.png) right top repeat-y, url(../images/green-header-bg-mini.png) left bottom repeat-x ;
}
body.green #horizontal-menu li a, body.green #horizontal-menu li.user{
	background-color:#9ccb50;
}
body.green #horizontal-menu li a:hover, body.green #horizontal-menu li a:focus{
	background-color:#cdf895;
}
body.green #inside-menu li a:hover, body.green #inside-menu li a:focus{
	border-color:#cdf895;
	background-color:#f0ffdd;
}
body.green  #inside-menu li.selected a{
	border-color:#9ccb50 !important;
	background-color:#f0ffdd;
}
body.green .button{
	background-color:#9ccb50;
	border-color:#8BBA3F;
}
body.green #content h2{
	color:#9ccb50;
}
body.green .loginbox{
	background:url(../images/login-bg-green.png) center center repeat-y ;
}
body.green .mobile-menu{
	border-color:#9ccb50;
}
body.green .common-box{
	background-color:#e4fad9;
}
body.green .highlight-box{
	background-color:#f7d9fa;
}



/* purple theme */
body.purple header{
	background:url(../images/powered-bg-2.png) right top repeat-y, url(../images/purple-header-bg.png) left top repeat-x ;
}
body.purple .white-header {
	background:url(../images/powered-bg-2.png) right top repeat-y, url(../images/purple-header-bg-mini.png) left bottom repeat-x ;
}
body.purple #horizontal-menu li a, body.purple #horizontal-menu li.user{
	background-color:#9f4499;
}
body.purple #horizontal-menu li a:hover, body.purple #horizontal-menu li a:focus{
	background-color:#e3b1e0;
}
body.purple #inside-menu li a:hover, body.purple #inside-menu li a:focus{
	border-color:#e3b1e0;
	background-color:#fbdff9;
}
body.purple  #inside-menu li.selected a{
	border-color:#9f4499 !important;
	background-color:#fbdff9;
}
body.purple .button{
	background-color:#9f4499;
	border-color:#8E3388;
}
body.purple #content h2{
	color:#9f4499;
}
body.purple .loginbox{
	background:url(../images/login-bg-purple.png) center center repeat-y ;
}
body.purple .mobile-menu{
	border-color:#9f4499;
}
body.purple .common-box{
	background-color:#f7d9fa;
}
body.purple .highlight-box{
	background-color:#f9f8c3;
}
.center {
    text-align: center;
}