<beans xmlns="http://www.springframework.org/schema/beans"
       	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 		xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config /> 
    <context:component-scan base-package="eu.europa.esig.dss"/>
		
	<bean id="dataLoader" class="eu.europa.esig.dss.client.http.commons.CommonsDataLoader">
	</bean>

	<bean id="ocspDataLoader" class="eu.europa.esig.dss.client.http.commons.OCSPDataLoader">
	</bean>

	<bean id="crlSource" class="eu.europa.esig.dss.client.crl.OnlineCRLSource">
		<property name="dataLoader" ref="dataLoader"/>
	</bean>

	<bean id="ocspSource" class="eu.europa.esig.dss.client.ocsp.OnlineOCSPSource">
		<property name="dataLoader" ref="ocspDataLoader"/>
	</bean>

	<bean id="tspSource" class="eu.europa.esig.dss.client.tsp.OnlineTSPSource">
		<property name="tspServer" value="http://tsa.belgium.be/connect"/>
		<property name="dataLoader" ref="dataLoader"/>
	</bean>
	
	<bean id="cadesService" class="eu.europa.esig.dss.cades.signature.CAdESService">
		<constructor-arg ref="certificateVerifier" />
		<property name="tspSource" ref="tspSource" />
	</bean>

	<bean id="xadesService" class="eu.europa.esig.dss.xades.signature.XAdESService">
		<constructor-arg ref="certificateVerifier" />
		<property name="tspSource" ref="tspSource" />
	</bean>

	<bean id="padesService" class="eu.europa.esig.dss.pades.signature.PAdESService">
		<constructor-arg ref="certificateVerifier" />
		<property name="tspSource" ref="tspSource" />
	</bean>

	<bean id="asicService" class="eu.europa.esig.dss.asic.signature.ASiCService">
		<constructor-arg ref="certificateVerifier" />
		<property name="tspSource" ref="tspSource" />
	</bean>

	<bean id="certificateVerifier" class="eu.europa.esig.dss.validation.CommonCertificateVerifier">
		<property name="ocspSource" ref="ocspSource" />
		<property name="crlSource" ref="crlSource" />
		<property name="dataLoader" ref="dataLoader" />
	</bean>

    <import resource="classpath:/service-definitions.xml" />
    
    <bean id="signatureService" class="eu.europa.esig.dss.standalone.service.SignatureService">
    	<property name="remoteSignatureService" ref="remoteSignatureService" />
    </bean>
    
</beans>    